.gallery {
    display: flex;
    margin-left: -1rem;
    width: auto;
}

.gallery-column {
    padding-left: 1rem;
    background-clip: padding-box;
}

.photo {
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.2s;
}

.photo:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.photo img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
