.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa;
    color: #222;
    font-family: 'Inter', sans-serif;
}

.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
    padding: 1.5rem;
    box-sizing: border-box;
    color: #222;
}

.gallery-scroll {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 72px); /* wysokość headera */
    padding: 1rem;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #222;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
    }

    .gallery-scroll {
        height: calc(100vh - 200px); /* header + sidebar */
    }
}
